FRONT_END_PATH=../fe/build
GOOGLE_CLIENT_ID=from-google-credentials-info
GOOGLE_CLIENT_SECRET=from-google-credentials-info
GOOGLE_DISCOVERY_URL=https://accounts.google.com/.well-known/openid-configuration
SECRET_KEY=replace-with-a-secret